[submodule "vendors/eCSStender"]
	path = vendors/eCSStender
	url = git://github.com/easy-designs/eCSStender.js.git
[submodule "vendors/eCSStender.js"]
	path = vendors/eCSStender.js
	url = git://github.com/easy-designs/eCSStender.js.git
